
.container {
    width: 60%;
    margin-top: 20px;
    text-align: center;
  }
  table {
    min-width: 100%;
    margin: auto;
    text-align: center;
  }
  .mat-header-cell {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    background-color: #FC5185;
  }
  .mat-row:nth-child(even) {
    color:white;  
    background-color: #3FC1C9;
  }
  .mat-row:nth-child(odd) {
    background-color: white;
  }
  .mat-row:nth-child(odd) .mat-cell {
    color: #364F6B;
  }
  .mat-cell:first-letter {
    text-transform: uppercase;
  }
  .mat-row:hover {
    cursor: pointer;
    box-shadow: inset 2px 2px 5px 7px ;
  }
  ::ng-deep.mat-paginator {
    width: 70%;
    margin: auto;
  }
  .mat-form-field {
    font-size: 13px;
    width: 20%;
    margin-bottom: 5px;
    padding: 10px;
  }
.header{
  color:#3FC1C9;  
  font-weight: bold;
}
